body{
    background-color: #06090f;
}

#headerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161b22;
}

#octocat{
    width: 100px;
    height: 100px;
}

#divInputButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#username{
    margin-bottom: 10px;
}

#findUser{
    background-color: #21262d;
    color: #edece6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    border-radius: 10px;
}

#findUser:hover{
    border-color: #edece6;
}

#title{
    color: #edece6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 40px;
    margin-right: 10px;
}

#totalInfos{
    display: flex;
    align-items: center;
}

#userInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    /* border: 5px;
    border-color: #161b22;
    border-style: dotted; */
}

.avatar{
    margin: 15px;
    width: 300px;
    border-radius: 150px;
}

.name{
    letter-spacing: 3px;
    font-size: 25px;
    color: #edece6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.bio{
    text-align: center;
    font-size: 18px;
    color: #edece6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#reposInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.reposLink{
    color: #edece6;
    text-decoration: dotted;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 20px;
}

.reposLink:hover{
    text-decoration: underline;
}

.language{
    color: #edece6;
    margin-bottom: revert; /*isso fez o link e a linguagem de programação ficarem juntos mas separados dos outros links e linguagens */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 12px;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #161b22;
    color: #edece6;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#footer p{
    margin-top: 1%;
}

#footer a{
    color: white;
}

#error{
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    color: #edece6;
    font-size: 35px;
    text-align: center;


}