body{
    background-color: #06090f;
}

#headerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161b22;
}

#octocat{
    width: 100px;
    height: 100px;
}

#divInputButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#username{
    margin-bottom: 10px;
}

#findUser{
    background-color: #21262d;
    color: #edece6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    border-radius: 10px;
}

#findUser:hover{
    border-color: #edece6;
}

#title{
    color: #edece6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 40px;
    margin-right: 10px;
}

#userInfo{
    
}

.paragraphs{
    color: #edece6; 
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color:#161b22;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

footer p{
    margin-top: 1%;
}

footer a{
    color: white;
}